//styling for Eats and Treats files

//defining colors
$primaryColor: #A3B18A;
$secondaryColor: #344E41;
$tertiaryColor: #dad7cd;
$primaryAccentColor: #588157;
$secondaryAccentColor: #3A5A40;
$errorMessageColor: #973333;

//defining fonts
$headingFont: "Mate SC", serif;;
$bodyFont: "Quicksand", sans-serif;

//defining mixins
@mixin container {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
}

@mixin navStyles {
    ul {
        padding: 10px;
        li {
            display: inline;
            padding: 10px;  
            a {
                color: #ffffff;
                font-family: $headingFont;                
            }     
            a:link {
                text-decoration: none;    
            }     
            a:hover {
               color: $tertiaryColor; 
            }
        }
    }
}

@mixin buttonStyles {
    background-color: $primaryAccentColor;
    border-radius: 20px;
    font-size: large;
    border: none;
    padding: 10px;
    margin: 0 auto;
    h4 {
        color: white;
        text-decoration: none;        
    }
}

@mixin buttonHoverStyles {
    background-color: $tertiaryColor;
    h4:hover {
        color: black;
    }
}

@mixin figureStyle {
    figure {
        margin-bottom: 15px;
        padding: 5px;
        background-color: $primaryColor;
        text-align: center;
        width: 50%;
        height: 70%;
        border-radius: 20px;
        h2 {
            padding: 25px;
        }
        figcaption {
            padding: 5px;
            button {
                @include buttonStyles;
            }
            button:hover {
                @include buttonHoverStyles;
            }
        }
    } 
}

@mixin mobileFigureStyle {
    figure {
        margin-bottom: 10px;
        padding: 5px;
        width: 80%;
        height: auto;
        h2 {
            padding: 10px;
        }
    } 
}

@mixin recipeFigureStyles {
    figure {
        margin-bottom: 15px;
        padding: 5px;
        background-color: $primaryColor;
        text-align: center;
        max-width: 100%;
        height: auto;
        border-radius: 20px;
        img {
            max-width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: 20px;
        }
        figcaption {
            padding: 5px;
            button {
                @include buttonStyles;
            }
            button:hover {
                @include buttonHoverStyles;
            }
        }
    } 
}

@mixin formStyles {
    width: 50%;
    margin: auto;
    background-color: $primaryColor;
    border-radius: 20px;
    text-align: center;
    legend {
        font-size:36px;
        text-align:center;  
    }

    p {
        margin-bottom: 15px;
    }

    [type="text"], [type="email"], select, [type="password"]{
        width: 30%;
        //border-radius: 20px;
    }

    textarea, #recipeDescription {
        width: 70%;
        //border-radius: 20px;
        text-align: left;
    }

    [type="number"] {
        width: 10%;
        //border-radius: 20px;
    }

    ::placeholder, option {
        text-align: center;
        color: $primaryAccentColor;
    }

    [type="radio"] {
        margin: 10px;
    }    

    label, input, select {
        display: inline-block;
        vertical-align: middle;
    }

    [type="submit"], [type="reset"], [type="button"], input::file-selector-button{
        @include buttonStyles;
        font-family: $headingFont;
        color: white;
        margin: 10px;      
    }
    [type="submit"]:hover, [type="reset"]:hover, [type="button"]:hover, input::file-selector-button:hover{
        @include buttonHoverStyles;
        font-family: $headingFont;
        color: black;
    }
}

@mixin mobileFormStyles {
    width: 90%;
    legend {
        font-size:24px;
    }

    p {
        margin-bottom: 10px;
    }

    [type="text"], [type="email"], select, [type="password"]{
        width: 70%;
    }

    textarea, #recipeDescription {
        width: 80%;
    }
}

@mixin confirmationMessageStyles {
    width: 50%;
    margin: auto;
    background-color: $primaryColor;
    border-radius: 20px;
    text-align: center;
    button {
        @include buttonStyles;
    }
    button:hover {
        @include buttonHoverStyles;
    }
    
}

* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $headingFont;
}

p, ul li, ol li {
    font-family: $bodyFont;
}

.container {
    @include container;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 0;
}

.navigationBar { 
    grid-column: 1 / -1;
    grid-row: 1;
    background-color: $secondaryColor;
    display: grid;
    grid-template-areas: "img nav nav nav nav nav";
    grid-template-columns: auto 1fr;
    align-items: center;   
    img {
        grid-area: img;
        padding: 15px;
    }
    nav {
        .mobileNavBtn {
            display: none;
        }
        grid-area: nav;
        text-align: center;
        @include navStyles;
        button {
            @include buttonStyles;    
        }
        button:hover {
            @include buttonHoverStyles;
        }
    }

}

main {
    grid-column: 1 / -1;
    grid-row: 2;
    background-color: $tertiaryColor;
}

#homePage {
    display: grid; 
    grid-template-areas: 
        'featuredImg featuredImg featuredDesc featuredDesc'
        'callout1 callout1 callout2 callout2';
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    gap: 20px;
    justify-items: center;

    #featuredRecipe {    
        background-color: $primaryColor;  
        display: contents;
        #featuredRecipeImg {
            grid-area: featuredImg;
            justify-self: start;
            img {
                width: 160%;
                object-fit: cover;
            }
        }
        #featuredRecipeDesc {
            grid-area: featuredDesc;
            justify-self: start;
            text-align: center; 
            padding-right: 20px; 
            h2, p, button {
                padding: 30px;
            }
            p {
                font-size: larger;
            }
            button {
                @include buttonStyles;
            }
            button:hover {
                @include buttonHoverStyles;
            }
        }        
    }
    #pageCallouts {
        display: contents;
        @include figureStyle;
        figure:nth-child(1) {
            grid-area: callout1;
        }
        figure:nth-child(2) {
            grid-area: callout2;
        }
    }
}

#recipeGalleryPage {
    h1 {
        padding: 10px;
    }
    @include recipeFigureStyles;

    #breakfastRecipes, #entreeRecipes, #dessertRecipes{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 20px;
        justify-content: center;
        padding-left: 10px;
    }
}

#individualRecipePage {
    #recipeContainer {
        background-color: $primaryColor;
        width: 80%;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 20px;
        button {
            @include buttonStyles;
        }
        button:hover {
            @include buttonHoverStyles;
        }
        h1{
            text-align: center;
        }        
        #recipeInformation {
            display: grid;
            grid-template-columns: 1fr auto;
            gap: 20px;
            align-items: start;
            #recipeHeadings {
                h3, button{
                    margin: 10px;
                }
            }
            #recipeImage {
                max-width: 300px;
                height: auto;
                border-radius: 20px;
                object-fit: cover;
                margin-top: 25px;
                margin-right: 10px;
            }
        }
        #recipeDescription {
            text-align: center;
            font-size: large;
        }

        #ingredients, #directions {
            text-align: center;
            .ingredientsAccordion, .directionsAccordion {
                background-color: $primaryColor;
                margin: 0 18px;
                cursor: pointer;                
                font-size: 18px;
                border: none;
                outline: none;
                transition: 0.4s;
                @include buttonStyles;
                margin: 5px;
            }
            .ingredientsPanel, .directionsPanel {
                padding: 20px;
                background-color: $secondaryAccentColor;
                color: $tertiaryColor;
                font-size: large;
                display: none;
                overflow: hidden;
                text-align: left;
                margin: 10px;
                border-radius: 20px;
            }
        }
    }
}

#submitRecipePage, #addRecipePage, #updateRecipePage {
    padding-top: 15px;
    form {
        @include formStyles;
        span[id$="Error"] {
            color: $errorMessageColor;
            font-style: italic;
        } 
        label[for$="Servings"] {
            margin-right: 30px;
        }
        label[for$="Measurement"] {
            margin-right: 50px;
        }
    }
}

.confirmationContainer{
    @include container;
    background-color: $tertiaryColor;
    text-align: center;
    div, h1, p, button {
        padding: 10px
    }
    #submitRecipeConfirmation, #submitContactConfirmation, #updateRecipeConfirmation {
       @include confirmationMessageStyles;
       margin-top: 10px;
       p {
        font-size: larger;
       }
    }
}
    
#contactPage {
    padding-top: 15px;
    form	{
        @include formStyles;
        span[id$="Error"] {
            color: $errorMessageColor;
            font-style: italic;
        }
    }
}

//adminFeatures and loginForm are styles for login.php page
#adminFeatures {
    padding-top: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;    
    @include figureStyle;
    justify-items: center;
    figure {
        height: 25%;
    }  
}
#loginForm {
    padding-top: 15px;
    form {
        @include formStyles;
        span[id$="Error"], #errorMessage {
            color: $errorMessageColor;
            font-style: italic;
        }
    }
}

#displayRecipes {
    h1 {
        text-align: center;
    }
  
    .recipes {   
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        div[id^="singleRecipe"]{
            background-color: $primaryColor;
            margin: 10px;
            border-radius: 20px;
            h2 {
                text-align: center;
            }
            h3, p {
                margin: 0 5px;
            }
            .recipeImage {
                width: 50%;
                text-align: center;
                border-radius: 20px;
                //margin: 0 auto;
            }
            p:nth-child(10) {
                text-align: center;
            }
            ol, ul {
                margin: 10px;
                padding: 10px;
            }
            ul {
                li {
                    list-style-type: circle;
                }
            }
            ol {
                li{
                    &::marker {
                        font-weight: 600;
                    }
                }
            }
            p:nth-child(8) {
                text-align: center;
                margin-bottom: 5px
            }
            button {
                @include buttonStyles;
                a {
                    text-decoration: none;
                }
            }
            button:hover {
                @include buttonHoverStyles;
            }   
            #recipeButtons {
                text-align: center;
                button {
                    margin: 10px;
                }
            }         
        }         

    }

}

#errorMessage {
    div {
        background-color: $primaryColor;
        padding: 15px;
        margin: 10px;
        text-align: center;     
        h2 {
            margin: 10px;
        }
        button {
            @include buttonStyles;
        }
        button:hover {
            @include buttonHoverStyles;
        }           
    }    
}

footer {
    grid-column: 1 / -1;
    grid-row: 3;
    background-color: $secondaryColor;
    text-align: center;
    //height: 100%;
    .footerNav {
        @include navStyles;
        button {
            @include buttonStyles;    
        }
        button:hover {
            @include buttonHoverStyles;
        }
    }
    p {
        color: $tertiaryColor;
    }
}

@media (max-width: 600px) {
    .navigationBar {
        grid-template-areas:
            "img navBtn"
            "img nav";
        grid-template-columns: 1fr;
        grid-row-gap: 15px;
        text-align: center;
        .mobileNavBtn {
            display: block;
            @include buttonStyles;
            margin: 15px;
            button:hover {
                @include buttonHoverStyles;
            }
        }        
        nav {
            display: none;
            ul {
                grid-template-columns: 1fr;
                gap: 10px;   
                li {
                    display: block;
                    padding: 5px;              
                }         
            }
        }        
    }
    #homePage {
        grid-template-areas: 
            'featuredImg'
            'featuredDesc'
            'callout1'
            'callout2';
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
    
        #featuredRecipe {     
            #featuredRecipeImg {
                img {
                    width: 100%;
                }
            }
            #featuredRecipeDesc {
                padding-right: 0;   
            }        
        }
        #pageCallouts figure{
            width: 80%;
            height: auto;
        }
    }

    #recipeGalleryPage {
        #breakfastRecipes, #entreeRecipes, #dessertRecipes{
            padding-left: 0;
        }
    }

    #individualRecipePage {
        #recipeContainer {
            width: 100%;
            margin-top: 10px;
            margin-bottom: 10px;
            border-radius: 0;     
            #recipeInformation {
                grid-template-columns: 1fr;
                #recipeImage {
                    margin: 0 auto;
                }
            }

        }
    }    

    #submitRecipePage, #contactPage, #loginForm, #addRecipePage, #updateRecipePage {
        padding-top: 10px;
        form {
            @include mobileFormStyles;
            label[for$="Servings"] {
                margin-right: 10px;
            }
            label[for$="Measurement"] {
                margin-right: 30px;
            }
        }
    }

    #adminFeatures {
        padding-top: 10px;
        display: grid;
        grid-template-columns: 1fr;
        @include mobileFigureStyle;
        figure {
            height: 50%;
        } 
    }

    #displayRecipes {
        .recipes {   
            grid-template-columns: 1fr;
            justify-content: center;
            padding-left: 0px;
            div[id^="singleRecipe"]{
                margin: 0px;
            }
            .recipeImage {
                margin: 0 auto;
            }
        }
    }    

}